@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700");


body {
  background: #e0e0e0;
}

.delayone {
  -moz-animation-delay: .2s;
  -webkit-animation-delay: .2s;
}

.delaytwo {
  -moz-animation-delay: .4s;
  -webkit-animation-delay: .4s;
}

.delaythree {
  -moz-animation-delay: .6s;
  -webkit-animation-delay: .6s;
}

.delayfour {
  -moz-animation-delay: .8s;
  -webkit-animation-delay: .8s;
}

.delayfive {
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
}

.delaysix {
  -moz-animation-delay: 1.4s;
  -webkit-animation-delay: 1.4s;
}

.delayseven {
  -moz-animation-delay: 1.6s;
  -webkit-animation-delay: 1.6s;
}


p {
  font-family: "Lora";
  color: #3a3a3a;
  font-size: 1.3em;
  text-align: center;
  margin-top: 30px;
}

h1 {
  font-family: "Lora";
  color: #3a3a3a;
  font-size: 4em;
  text-align: center;
  margin-top: 150px;
}

.icon {
  position: absolute;
  width: 100%;
  margin-top: 30%;
  display: block;
  color: #b5b5b5;
  font-size: 3em;
  -webkit-transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#circ {
  max-width: 100%;
  min-height: 200px;
  width: 1280px;
  text-align: center;
  margin: 0 auto;
  float: none;
}
#circ ul {
  list-style: none;
  padding: 0;
  margin-top: 80px;
  width: 100%;
}
#circ ul li {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  width: 120px;
  height: 120px;
  margin: 1px 20px 20px 20px;
  text-align: center;
  background: none;
  border: solid 8px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
#circ ul li:hover {
  border: solid 8px #b5b5b5;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
}









/*Burger menu*/
body {
  display: flex;
  /*justify-content: center;*/
  /*align-items: center;*/
  min-height: 100vh;
  margin: 0;
  font-family: Lora, sans-serif;
}

p {
  margin: 0;
}

#burger-toggle {
  position: absolute;
  appearance: none;
  opacity: 0;
}
#burger-toggle:checked ~ .menu {
  opacity: 1;
  visibility: visible;
}
#burger-toggle:checked ~ .menu .menu-nav-link span div,
#burger-toggle:checked ~ .menu img,
#burger-toggle:checked ~ .menu .title p {
  transform: translateY(0);
  transition: 1.2s 0.1s cubic-bezier(0.35, 0, 0.07, 1);
}
#burger-toggle:checked ~ .menu .image-link:nth-child(1) img {
  transition-delay: 0.18s;
}
#burger-toggle:checked ~ .menu .image-link:nth-child(2) img {
  transition-delay: 0.26s;
}
#burger-toggle:checked ~ .menu .image-link:nth-child(3) img {
  transition-delay: 0.34s;
}
#burger-toggle:checked ~ .menu .image-link:nth-child(4) img {
  transition-delay: 0.42s;
}
#burger-toggle:checked ~ .burger-menu .line::after {
  transform: translateX(0);
}
#burger-toggle:checked ~ .burger-menu .line:nth-child(1) {
  transform: translateY(calc(var(--burger-menu-radius) / 5)) rotate(45deg);
}
#burger-toggle:checked ~ .burger-menu .line:nth-child(2) {
  transform: scaleX(0);
}
#burger-toggle:checked ~ .burger-menu .line:nth-child(3) {
  transform: translateY(calc(var(--burger-menu-radius) / -5)) rotate(-45deg);
}

.burger-menu {
  --burger-menu-radius: 4em;
  position: fixed;
  top: 5vh;
  left: 5vw;
  z-index: 100;
  display: block;
  width: var(--burger-menu-radius);
  height: var(--burger-menu-radius);
  outline: none;
  cursor: pointer;
}
.burger-menu .line {
  position: absolute;
  left: 25%;
  width: 50%;
  height: 3px;
  background: rgba(55, 82, 110, 0.5);
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
}
.burger-menu .line:nth-child(1) {
  top: 30%;
}
.burger-menu .line:nth-child(2) {
  top: 50%;
}
.burger-menu .line:nth-child(3) {
  top: 70%;
}
.burger-menu .line::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--primary-color-darker);
  transform: translateX(-100%);
  transition: 0.25s;
}
.burger-menu .line:nth-child(2)::after {
  transition-delay: 0.1s;
}
.burger-menu .line:nth-child(3)::after {
  transition-delay: 0.2s;
}
.burger-menu:hover .line::after {
  transform: translateX(0);
}

.menu {;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1a1e23;
  opacity: 0;
  overflow-x: hidden;
  visibility: hidden;
  transition: 0.3s;
}
@media screen and (max-width: 750px) {
  .menu {
    display: block;
  }
}
.menu-nav {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}
@media screen and (max-width: 750px) {
  .menu-nav {
    flex-direction: column;
  }
}
.menu-nav-item {
  flex: 1;
}
.menu-nav-link {
  position: relative;
  display: inline-flex;
  font-size: 2rem;
  color: white;
  text-decoration: none;
}
.menu-nav-link span {
  overflow: hidden;
}
.menu-nav-link span div {
  transform: translateY(102%);
}
.menu-nav-link::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background: var(--primary-color);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}
.menu-nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
.menu .gallery {
  margin-top: 60px;
  text-align: center;
}
.menu .title {
  font-size: 24px;
  color: white;
  overflow: hidden;
}
.menu .title p {
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  transform: translateY(102%);
}
.menu .images {
  margin-top: 36px;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 750px) {
  .menu .images {
    justify-content: center;
  }
}
.menu .images .image-link {
  width: 15vw;
  margin: 0 12px;
  overflow: hidden;
}
@media screen and (max-width: 750px) {
  .menu .images .image-link {
    width: 40vw;
    margin: 0 12px 12px 0;
  }
}
.menu .images .image-link .image {
  position: relative;
  transition: 0.6s;
}
.menu .images .image-link .image::before {
  position: absolute;
  content: attr(data-label);
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: 0.4s;
}
.menu .images .image-link:hover .image {
  transform: scale(1.2);
}
.menu .images .image-link:hover .image::before {
  opacity: 0.8;
}
.menu .images img {
  height: 250px;
  transform: translateY(102%);
}


body {
  margin: 0;
}
/*burger menu*/








*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}





form {
  max-width: 600px;
  text-align: center;
  margin: 20px auto;
}
form input, form textarea {
  border: 0;
  outline: 0;
  padding: 1em;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: block;
  width: 100%;
  margin-top: 1em;
  font-family: 'Merriweather', sans-serif;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  resize: none;
}
form input:focus, form textarea:focus {
  -moz-box-shadow: 0 0px 2px #e74c3c !important;
  -webkit-box-shadow: 0 0px 2px #e74c3c !important;
  box-shadow: 0 0px 2px #e74c3c !important;
}
form #input-submit {
  color: white;
  background: #e74c3c;
  cursor: pointer;
}
form #input-submit:hover {
  -moz-box-shadow: 0 5px 5px 5px rgba(170, 170, 170, 0.6);
  -webkit-box-shadow: 0 5px 5px 5px rgba(170, 170, 170, 0.6);
  box-shadow: 0 5px 5px 5px rgba(170, 170, 170, 0.6);
}
form textarea {
  height: 152px;
}

.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right {
  width: 50%;
}

.left {
  margin-right: 2%;
}

@media (max-width: 480px) {
  .half {
    width: 100%;
    float: none;
    margin-bottom: 0;
  }
}
/* Clearfix */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}



